.game-button {
  border: none;
  font-size: 25px;
  font-family: inherit;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0.2em;
}

.ButtonStart {
  background-color: red;
  color: black;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  &:hover {
    color: black;
    background-color: #4bb543;
  }
}

.ButtonReset {
  color: black;
  background-color: #4bb543;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  &:hover {
    background-color: red;
    color: black;
  }
}
