.time-bar-wrapper {
  margin: 20px 0px;
  width: 45%;
  height: 30px;
  border: 2px solid red;
  border-radius: 2em;
  -webkit-box-shadow: 2px 6px 13px 1px rgba(0, 0, 0, 0.74);
  box-shadow: 2px 6px 13px 1px rgba(0, 0, 0, 0.74);
}

.time-bar {
  border-radius: 2em;
  height: 26.5px;
  transition: "with 300ms ease-in-out";
  padding-left: 19px;
}
